@charset "UTF-8";
.body .navCustom {
  border-bottom: 10px;
  box-shadow: 2px 2px 10px #000; }
  .body .navCustom .navbar-toggler {
    background-color: #0F225E; }
    .body .navCustom .navbar-toggler .navbar-toggler-icon {
      background-color: #006eff;
      color: #0F225E; }
  .body .navCustom .navbar-nav .nav-link {
    font-size: 1.3rem;
    color: #0F225E;
    font-family: "Poppins", sans-serif; }
    .body .navCustom .navbar-nav .nav-link:hover {
      font-weight: 600; }

.card-container .card {
  box-sizing: border-box;
  margin-right: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  margin-left: 2rem;
  background: white;
  border-radius: 0.4em;
  box-shadow: 0.3em 0.3em 0.7em #00000015;
  transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border: #fafafa 0.2em solid; }
  .card-container .card .card-body .card-img-top {
    height: auto; }
  .card-container .card .card-body .card-title {
    color: red; }
  .card-container .card .card-footer i {
    display: inline; }

.section_collections .h2Custom {
  font-size: 2rem;
  color: #0F225E;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: 800;
  text-align: justify; }

/*----MEDIA QUERY INDEX DISPOSITIVOS PEQUEÑOS----*/
@media only screen and (max-width: 600px) {
  .body .header .navCustom .navbar-nav .nav-link {
    font-size: 1rem; }
  .mainIndex .containerIndex {
    margin-top: 0; }
    .mainIndex .containerIndex .row {
      height: auto; }
      .mainIndex .containerIndex .row #h1 {
        margin-left: 0;
        font-size: 1.5rem;
        text-align: left;
        text-align: center;
        margin: auto;
        margin-bottom: 2rem;
        margin-top: 2rem; }
      .mainIndex .containerIndex .row #botonColecciones {
        font-size: 0.7rem; }
      .mainIndex .containerIndex .row #botonCrea {
        font-size: 0.7rem; }
      .mainIndex .containerIndex .row .cardIndex {
        display: none; }
  .mainIndex .modalCrea .modal-header {
    background-color: #0F225E;
    color: white; }
    .mainIndex .modalCrea .modal-header .modal-title {
      font-size: 0.8rem; }
    .mainIndex .modalCrea .modal-header .btn-close {
      background-color: white; }
  .mainIndex .modalCrea .modal-body .formColecciones .mb-3 .form-label {
    font-size: 0.9rem; }
  .mainIndex .modalCrea .modal-body .formColecciones .mb-3 .form-control {
    font-size: 0.8rem; }
  .mainIndex .modalCrea .modal-footer .btn {
    font-size: 0.7rem; }
  .sectionColecciones #tituloColecciones {
    font-size: 2rem; }
  .sectionColecciones .card-container .card {
    box-sizing: border-box;
    width: 100%;
    margin: 1rem; }
    .sectionColecciones .card-container .card .card-body .card-title {
      color: red; } }

.dark-mode {
  background-color: #03102c;
  color: white;
  transition: all 2s; }
  .dark-mode::after {
    transition: all 2s; }

.containerIndex {
  background-color: black;
  color: white; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; }

html {
  font-size: 62, 5%; }

.mainIndex {
  height: auto;
  width: auto;
  padding-bottom: 10vh; }
  .mainIndex .containerIndex {
    margin-top: 5rem;
    backdrop-filter: blur(1px);
    background-color: white;
    border-radius: 35px;
    box-shadow: 35px 35px 68px 0px rgba(145, 192, 255, 0.5), inset -8px -8px 16px 0px rgba(145, 192, 255, 0.6), inset 0px 11px 28px 0px white;
    width: 90%;
    height: auto; }
    .mainIndex .containerIndex .row .h1Custom {
      color: #0F225E;
      margin-top: 6rem;
      font-size: 5rem;
      font-weight: 800;
      margin-right: 10rem;
      margin-left: 1rem; }
    .mainIndex .containerIndex .row .h1Custom__text {
      font-size: 1.8rem;
      margin-left: 1rem;
      font-weight: 400;
      color: #0F225E; }
    .mainIndex .containerIndex .row .btnExplore {
      font-size: 2rem;
      cursor: pointer;
      background-color: #171717;
      color: #fff;
      border: none;
      border-radius: 5px;
      transition: all .4s; }
      .mainIndex .containerIndex .row .btnExplore:hover {
        border-radius: 5px;
        transform: translateY(-10px);
        box-shadow: 0 7px 0 -2px #f85959, 0 15px 0 -4px #39a2db, 0 16px 10px -3px #39a2db; }
      .mainIndex .containerIndex .row .btnExplore:active {
        transition: all 0.2s;
        transform: translateY(-5px);
        box-shadow: 0 2px 0 -2px #f85959, 0 8px 0 -4px #39a2db, 0 12px 10px -3px #39a2db; }
    .mainIndex .containerIndex .row .btnCreate {
      font-size: 2rem;
      cursor: pointer;
      background-color: #0F225E;
      color: #fff;
      border: none;
      border-radius: 5px;
      transition: all .4s; }
      .mainIndex .containerIndex .row .btnCreate:hover {
        border-radius: 5px;
        transform: translateY(-10px);
        box-shadow: 0 7px 0 -2px #f85959, 0 15px 0 -4px #39a2db, 0 16px 10px -3px #39a2db; }
      .mainIndex .containerIndex .row .btnCreate:active {
        transition: all 0.2s;
        transform: translateY(-5px);
        box-shadow: 0 2px 0 -2px #f85959, 0 8px 0 -4px #39a2db, 0 12px 10px -3px #39a2db; }
    .mainIndex .containerIndex .colIndexCarousel {
      padding-top: 2rem;
      padding-right: 4rem;
      padding-bottom: 4rem; }
      .mainIndex .containerIndex .colIndexCarousel .imgCard {
        width: 100%;
        height: auto; }
      .mainIndex .containerIndex .colIndexCarousel .carousel-info {
        background-color: #0F225E;
        color: white;
        padding: 1.5rem;
        font-weight: 600;
        opacity: 0.8; }

.sectionColecciones .h2Custom {
  text-align: center;
  justify-content: center;
  margin: auto;
  font-size: 3rem;
  color: #0F225E;
  font-weight: 600; }
