@charset "UTF-8";
.body .navCustom {
  border-bottom: 10px;
  box-shadow: 2px 2px 10px #000; }
  .body .navCustom .navbar-toggler {
    border-color: #66F2CA; }
  .body .navCustom .navbar-nav .nav-link {
    font-size: 1.3rem;
    color: #66F2CA;
    font-family: "Rubik", sans-serif; }
    .body .navCustom .navbar-nav .nav-link:hover {
      font-weight: 600; }
    .body .navCustom .navbar-nav .nav-link .btn-carrito {
      background-color: #66F2CA;
      font-weight: 600;
      color: #260259; }

#divColecciones {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-family: "Rubik", sans-serif; }
  #divColecciones .card-box {
    text-align: center;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px #c5c5c5;
    margin-bottom: 2rem;
    float: left;
    border-radius: 10px;
    background-color: #1c0240;
    color: #66f2ca;
    width: fit-content;
    height: auto; }
    #divColecciones .card-box h3 {
      margin-bottom: 2rem; }
      #divColecciones .card-box h3 a {
        font-size: 1.5rem;
        color: #66f2ca;
        text-decoration: none;
        font-weight: 800; }
    #divColecciones .card-box .card-thumbnail {
      max-height: 600px;
      overflow: hidden;
      border-radius: 10px;
      transition: 1s; }
      #divColecciones .card-box .card-thumbnail:hover {
        transform: scale(1.1); }
    #divColecciones .card-box .btn-agregar {
      background-color: #826AD9;
      color: #1c0240;
      font-weight: 600; }

/*----MEDIA QUERY INDEX DISPOSITIVOS PEQUEÑOS----*/
@media only screen and (max-width: 600px) {
  .body .header .navCustom .navbar-nav .nav-link {
    font-size: 1rem; }
  .body .header .navCustom .navbar-nav .btn-carrito {
    font-size: 0.7rem; }
  .mainIndex .containerIndex .row #h1 {
    margin-top: 2rem;
    font-size: 2.2rem;
    width: 90%; }
  .mainIndex .containerIndex .row p {
    font-size: 0.5rem; }
  .mainIndex .containerIndex .row #botonCrea {
    font-size: 1rem;
    width: 90%;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: auto; }
  .modalCrea .modal-dialog .modal-content .modal-header .modal-title {
    font-size: 1.2rem;
    font-weight: 600; }
  #modalCarrito {
    width: 100%;
    height: 100%; }
  .sectionTopColecciones .contenedorTable .row .h2Custom {
    margin-top: 2rem;
    font-size: 3rem;
    margin-bottom: 2rem; }
  .sectionTopColecciones .contenedorTable .table .thead .tr .th {
    font-size: 0.7rem; }
  .sectionTopColecciones .contenedorTable .table .tbody .th {
    font-size: 0.7rem; }
    .sectionTopColecciones .contenedorTable .table .tbody .th .td {
      font-size: 0.5rem; }
  .sectionColecciones #tituloColecciones {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2.5rem; }
  .sectionRecursos #tituloRecursos {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 3rem; }
  .sectionContacto #tituloContacto {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 3rem; }
  .footer ul li a {
    font-size: 0.7rem; }
  .footer p {
    margin-top: 1rem;
    margin-bottom: 0;
    padding-bottom: 1rem;
    font-size: 0.8rem; } }

/*media query pantallas > 600px*/
@media only screen and (min-width: 600px) {
  .body .header .navCustom .navbar-nav .nav-link {
    font-size: 1.3rem; }
  .body .header .navCustom .navbar-nav .btn-carrito {
    font-size: 1rem; }
  .mainIndex .containerIndex .row #h1 {
    margin-top: 2rem;
    font-size: 3.3rem;
    width: 100%; }
  .mainIndex .containerIndex .row p {
    font-size: 0.5rem; }
  .mainIndex .containerIndex .row #botonCrea {
    font-size: 1.7rem;
    width: 90%;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 1rem; }
  .mainIndex .containerIndex .row .colImagenMain {
    width: 100%; }
  .modalCrea .modal-dialog .modal-content .modal-header .modal-title {
    font-size: 1.8rem;
    font-weight: 600; }
  #modalCarrito {
    width: 100%;
    height: 100%; }
  .sectionTopColecciones .contenedorTable .row .h2Custom {
    margin-top: 2rem;
    font-size: 5rem;
    margin-bottom: 2rem; }
  .sectionTopColecciones .contenedorTable .table .thead .tr .th {
    font-size: 0.7rem; }
  .sectionTopColecciones .contenedorTable .table .tbody .th {
    font-size: 0.7rem; }
    .sectionTopColecciones .contenedorTable .table .tbody .th .td {
      font-size: 0.5rem; }
  .sectionColecciones #tituloColecciones {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 4.5rem; }
  .sectionColecciones .cardContenedor {
    display: flex;
    justify-items: center;
    justify-content: center;
    margin: auto; }
    .sectionColecciones .cardContenedor .card-box .h3 {
      margin-top: 1.5rem;
      font-size: 2.5rem; }
    .sectionColecciones .cardContenedor .card-box .card-text {
      font-size: 1.3rem; }
  .sectionRecursos #tituloRecursos {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 5rem; }
  .sectionContacto #tituloContacto {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 5rem; }
  .footer ul li a {
    font-size: 0.7rem; }
  .footer p {
    margin-top: 1rem;
    margin-bottom: 0;
    padding-bottom: 1rem;
    font-size: 0.8rem; } }

@media only screen and (min-width: 1200px) {
  .body .header .navCustom .navbar-nav .nav-link {
    font-size: 1.5rem; }
  .body .header .navCustom .navbar-nav .btn-carrito {
    font-size: 1.2rem; }
  .mainIndex .containerIndex .row #h1 {
    margin-top: 2rem;
    font-size: 6rem;
    width: 90%; }
  .mainIndex .containerIndex .row p {
    font-size: 1rem; }
  .mainIndex .containerIndex .row #botonCrea {
    font-size: 3rem;
    width: 90%;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 1rem; }
  .mainIndex .containerIndex .row .colImagenMain {
    width: 30%; }
  .modalCrea .modal-dialog .modal-content .modal-header .modal-title {
    font-size: 1.8rem;
    font-weight: 600; }
  #modalCarrito {
    width: 100%;
    height: 100%; }
  .sectionTopColecciones .contenedorTable .row .h2Custom {
    margin-top: 2rem;
    font-size: 5rem;
    margin-bottom: 2rem; }
  .sectionTopColecciones .contenedorTable .table .thead .tr .th {
    font-size: 2rem; }
  .sectionTopColecciones .contenedorTable .table .tbody .th {
    font-size: 2rem; }
    .sectionTopColecciones .contenedorTable .table .tbody .th .td {
      font-size: 0.5rem; }
  .sectionColecciones #tituloColecciones {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 4.5rem; }
  .sectionColecciones .cardContenedor {
    display: flex;
    justify-items: center;
    justify-content: center;
    margin: auto; }
    .sectionColecciones .cardContenedor .card-box .h3 {
      margin-top: 1.5rem;
      font-size: 2.5rem; }
    .sectionColecciones .cardContenedor .card-box .card-text {
      font-size: 1.3rem; }
  .sectionRecursos #tituloRecursos {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 5rem; }
  .sectionContacto #tituloContacto {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 5rem; }
  .footer ul li a {
    font-size: 1.2rem; }
  .footer p {
    margin-top: 1rem;
    margin-bottom: 0;
    padding-bottom: 1rem;
    font-size: 1rem; } }

.sectionTopColecciones .contenedorTable {
  padding-bottom: 4rem; }
  .sectionTopColecciones .contenedorTable .divOrdenar {
    text-align: center;
    margin: auto;
    padding-bottom: 3rem; }
  .sectionTopColecciones .contenedorTable #tablaTopColecciones {
    width: 90%;
    justify-content: center;
    margin: auto; }
    .sectionTopColecciones .contenedorTable #tablaTopColecciones thead {
      font-size: 1.5rem; }
    .sectionTopColecciones .contenedorTable #tablaTopColecciones .conversionDolar {
      font-weight: 600; }

.modalCarrito .modal-dialog .modal-content .modal-header {
  background-color: #3a0683;
  color: #826ad9; }
  .modalCarrito .modal-dialog .modal-content .modal-header .modal-title {
    font-weight: 600; }
  .modalCarrito .modal-dialog .modal-content .modal-header .btn-close {
    background-color: #826ad9; }

.modalCarrito .modal-dialog .modal-content .modalBody .tableCarrito .th {
  color: black;
  font-weight: 800; }

.modalCarrito .modal-dialog .modal-content .modalBody .tableCarrito .td {
  color: black;
  font-weight: 600; }

.modalCarrito .modal-dialog .modal-content .modalBody .tableCarrito .tableBody {
  color: black;
  font-weight: 600; }

.modalCarrito .modal-dialog .modal-content .modalBody .tableCarrito .tfoot .thTotal {
  background-color: #431288; }

.modalCarrito .modal-dialog .modal-content .modal-footer {
  background-color: #3a0683; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif; }

html {
  font-size: 62, 5%; }

.mainIndex {
  height: auto;
  width: auto; }
  .mainIndex .containerIndex {
    height: auto;
    background-color: #826ad9; }
    .mainIndex .containerIndex .row .h1Custom {
      background-size: 300%;
      margin-top: 6rem;
      font-size: 5rem;
      font-weight: 800;
      margin-right: 10rem;
      margin-left: 1rem;
      color: #1c0240;
      background-color: #66f2ca; }
    .mainIndex .containerIndex .row .h1Custom__text {
      font-size: 1.8rem;
      margin-left: 1rem;
      font-weight: 800;
      color: #1c0240; }
    .mainIndex .containerIndex .row .btnCreate {
      padding: 15px 25px;
      border: unset;
      border-radius: 15px;
      color: #66f2ca;
      z-index: 1;
      background: #260259;
      position: relative;
      font-weight: 1000;
      font-size: 2.5rem;
      -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
      box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
      transition: all 250ms;
      overflow: hidden; }
      .mainIndex .containerIndex .row .btnCreate::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        border-radius: 15px;
        background-color: #66f2ca;
        z-index: -1;
        -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
        box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
        transition: all 250ms; }
      .mainIndex .containerIndex .row .btnCreate:hover {
        color: #1c0240; }
        .mainIndex .containerIndex .row .btnCreate:hover::before {
          width: 100%; }
    .mainIndex .containerIndex .row .img-top {
      margin-top: 3rem; }

.sectionTopColecciones {
  background-color: #260259; }
  .sectionTopColecciones .h2Custom {
    font-size: 6rem;
    text-align: center;
    color: #66f2ca;
    font-weight: 800;
    height: auto;
    margin-top: 4rem; }
  .sectionTopColecciones .divOrdenar #botonOrdenaPrecioDesc {
    background-color: #66f2ca;
    color: #260259;
    font-weight: 600; }
  .sectionTopColecciones .divOrdenar #botonOrdenaPrecioAsc {
    background-color: #66f2ca;
    color: #260259;
    font-weight: 600; }
  .sectionTopColecciones .table {
    padding-bottom: 10rem; }
    .sectionTopColecciones .table .thead .tr .th {
      background-color: #66f2ca;
      color: #260259; }
    .sectionTopColecciones .table .tbody {
      background-color: #1c0240;
      color: #66f2ca;
      font-size: 1.5rem; }

.sectionColecciones {
  background-color: #66f2ca; }
  .sectionColecciones .h2Custom {
    font-size: 6rem;
    text-align: center;
    color: #260259;
    font-weight: 800;
    margin-bottom: 4rem;
    margin-top: 4rem; }

.sectionRecursos {
  background-color: #826AD9; }
  .sectionRecursos .h2Custom {
    font-size: 6rem;
    text-align: center;
    color: #260259;
    font-weight: 800;
    margin-bottom: 4rem;
    margin-top: 4rem; }

.sectionContacto {
  background-color: #260259; }
  .sectionContacto .h2Custom {
    font-size: 6rem;
    text-align: center;
    color: #66F2CA;
    font-weight: 800;
    margin-bottom: 4rem;
    margin-top: 4rem; }

.footer {
  background-color: #66f2ca;
  font-weight: 600;
  height: auto;
  font-size: 1rem; }
  .footer .nav li a {
    text-decoration: none;
    color: #1c0240; }
  .footer p {
    color: #1c0240; }
  .footer .elevator {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; }
