.card-container{
	align-items: center;
	justify-content: center;
	
	.card{
		box-sizing: border-box;
		margin-right: 2rem;
		margin-bottom: 2rem;
		margin-top: 2rem;
		margin-left: 6rem;
		background: rgb(255, 255, 255);
		border-radius: 0.4em;
		box-shadow: 0.3em 0.3em 0.7em #00000015;
		transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
		border: rgb(250, 250, 250) 0.2em solid;
		width: 18vw;
		height: 80vh;
		&:hover{
			transform: translateY(20px);
			transition: .5s;
			background: rgb(155, 183, 236);
			color: white;
			.card-title{
				color: $color-primario;
			}
			&:before{
				opacity: 1;
			}
			

		}
		&::after{

			opacity: 0.5;
		}
		.card-img-top {
			width: 100%;
			height: 15vw;
			object-fit: cover;
		}
		.imgCard{
			width: 100%;
			height: 40vh;
		}
		.card-body{
			.card-title{
				margin-top: 2rem;
				color: $color-primario;
				font-weight: 800;
			}
		}
		.card-footer{
			justify-content: flex-end;
			padding-bottom: 2rem;
		}
	}
}

