#divColecciones{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	font-family: $fuente;
	.card-box {
		text-align: center;
		border: 1px solid #ddd;
		padding: 20px;
		box-shadow: 0px 0px 10px 0px #c5c5c5;
		margin-bottom: 2rem;
		float: left;
		border-radius: 10px;
		background-color: #1c0240;
		color: #66f2ca;
		width: fit-content;
		height: auto;
		h3{
			margin-bottom: 2rem;
			a{
				font-size: 1.5rem;
				color: #66f2ca;
				text-decoration: none;
				font-weight: 800;
			}
		}
		.card-thumbnail{
			max-height: 600px;
			overflow: hidden;
			border-radius: 10px;
			transition: 1s;
			&:hover{
				transform: scale(1.1);
			}
		}
		h3{
			margin-top: 2rem;
			text-align: left;
		}
		.card-text{
			font-size: 1rem;
			text-align: left;
		}
		.btn-agregar {
			position: relative;
			font-size: 0.8rem;
			text-transform: uppercase;
			text-decoration: none;
			padding: 1em 2.5em;
			display: inline-block;
			border-radius: 6em;
			transition: all .2s;
			border: none;
			font-family: inherit;
			font-weight: 600;
			color: #66f2ca;
			background-color: #5035af;
			&:hover {
				transform: translateY(-3px);
				box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
				&::after {
					transform: scaleX(1.4) scaleY(1.6);
					opacity: 0;
				}
			}
			&:active {
				transform: translateY(-1px);
				box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
			}
			&::after {
				content: "";
				display: inline-block;
				height: 100%;
				width: 100%;
				border-radius: 100px;
				position: absolute;
				top: 0;
				left: 0;
				z-index: -1;
				transition: all .4s;
				background-color: #fff;
			}
		}

	}
}


