/*----MEDIA QUERY INDEX DISPOSITIVOS PEQUEÑOS----*/
@media only screen and (max-width: 600px) {
    .body{
        .header{
            .navCustom{
                .navbar-nav{
                    .nav-link{
                        font-size: 1rem;
                    }
                    .btn-carrito{
                        font-size: 0.7rem;
                    }
                }
            }
        }
    }
    .mainIndex{
        .containerIndex{
            .row{
                #h1{
                    margin-top: 2rem;
                    font-size: 2.2rem;
                    width: 90%;
                }
                p{
                    font-size: 0.5rem;
                }
                #botonCrea{
                    font-size: 1rem;
                    width: 90%;
                    display: flex;
                    text-align: center;
                    justify-content: center;
                    margin: auto;
                }
            }
        }
    }

    .modalCrea{
        .modal-dialog{
            .modal-content{
                .modal-header{
                    .modal-title{
                        font-size: 1.2rem;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    #modalCarrito{
        width: 100%;
        height: 100%;
    }

    .sectionTopColecciones{
        .contenedorTable{
            .row{
                .h2Custom{
                    margin-top: 2rem;
                    font-size: 3rem;
                    margin-bottom: 2rem;
                }
            }
            .table{
                .thead{
                    .tr{
                        .th{
                            font-size: 0.7rem;
                        }
                    }
                }
                .tbody{
                    .th{
                        font-size: 0.7rem;
                        .td{
                            font-size: 0.5rem;
                        }
                    }

                }
            }
        }
    }


    .sectionColecciones{
        #tituloColecciones{
            margin-top: 2rem;
            margin-bottom: 2rem;
            font-size: 2.5rem;
        }
    }

    .sectionRecursos{
        #tituloRecursos{
            margin-top: 2rem;
            margin-bottom: 2rem;
            font-size: 3rem;
        }
    }

    .sectionContacto{
        #tituloContacto{
            margin-top: 2rem;
            margin-bottom: 2rem;
            font-size: 3rem;
        }
    }

    .footer{
        ul{
            li{
                a{
                    font-size: 0.7rem;
                }
            }
        }
        p{
            margin-top: 1rem;
            margin-bottom: 0;
            padding-bottom: 1rem;
            font-size: 0.8rem;
        }
    }





}


/*media query pantallas > 600px*/
@media only screen and (min-width: 600px){

    .body{
        .header{
            .navCustom{
                .navbar-nav{
                    .nav-link{
                        font-size: 1.3rem;
                    }
                    .btn-carrito{
                        font-size: 1rem;
                    }
                }
            }
        }
    }
    .mainIndex{
        .containerIndex{
            .row{
                #h1{
                    margin-top: 2rem;
                    font-size: 3.3rem;
                    width: 100%;
                }
                p{
                    font-size: 0.5rem;
                }
                #botonCrea{
                    font-size: 1.7rem;
                    width: 90%;
                    display: flex;
                    text-align: center;
                    justify-content: center;
                    margin: auto;
                    margin-bottom: 1rem;
                }
                .colImagenMain{
                    width: 100%;
                }
            }
        }
    }

    .modalCrea{
        .modal-dialog{
            .modal-content{
                .modal-header{
                    .modal-title{
                        font-size: 1.8rem;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    #modalCarrito{
        width: 100%;
        height: 100%;
    }

    .sectionTopColecciones{
        .contenedorTable{
            .row{
                .h2Custom{
                    margin-top: 2rem;
                    font-size: 5rem;
                    margin-bottom: 2rem;
                }
            }
            .table{
                .thead{
                    .tr{
                        .th{
                            font-size: 0.7rem;
                        }
                    }
                }
                .tbody{
                    .th{
                        font-size: 0.7rem;
                        .td{
                            font-size: 0.5rem;
                        }
                    }

                }
            }
        }
    }


    .sectionColecciones{
        #tituloColecciones{
            margin-top: 2rem;
            margin-bottom: 2rem;
            font-size: 4.5rem;
        }
        .cardContenedor{
            display: flex;
            justify-items: center;
            justify-content: center;
            margin: auto;
            .card-box{
                .h3{
                    margin-top: 1.5rem;
                    font-size: 2.5rem;
                }
                .card-text{
                    font-size: 1.3rem;
                }
            }
        }
    }

    .sectionRecursos{
        #tituloRecursos{
            margin-top: 2rem;
            margin-bottom: 2rem;
            font-size: 5rem;
        }
    }

    .sectionContacto{
        #tituloContacto{
            margin-top: 2rem;
            margin-bottom: 2rem;
            font-size: 5rem;
        }
    }

    .footer{
        ul{
            li{
                a{
                    font-size: 0.7rem;
                }
            }
        }
        p{
            margin-top: 1rem;
            margin-bottom: 0;
            padding-bottom: 1rem;
            font-size: 0.8rem;
        }
    }


}

@media only screen and (min-width: 992px){

}

@media only screen and (min-width: 1200px){
    .body{
        .header{
            .navCustom{
                .navbar-nav{
                    .nav-link{
                        font-size: 1.5rem;
                    }
                    .btn-carrito{
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
    .mainIndex{
        .containerIndex{
            .row{
                #h1{
                    margin-top: 2rem;
                    font-size: 6rem;
                    width: 90%;
                }
                p{
                    font-size: 1rem;
                }
                #botonCrea{
                    font-size: 3rem;
                    width: 90%;
                    display: flex;
                    text-align: center;
                    justify-content: center;
                    margin: auto;
                    margin-bottom: 1rem;
                }
                .colImagenMain{
                    width: 30%;
                }
            }
        }
    }

    .modalCrea{
        .modal-dialog{
            .modal-content{
                .modal-header{
                    .modal-title{
                        font-size: 1.8rem;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    #modalCarrito{
        width: 100%;
        height: 100%;
    }

    .sectionTopColecciones{
        .contenedorTable{
            .row{
                .h2Custom{
                    margin-top: 2rem;
                    font-size: 5rem;
                    margin-bottom: 2rem;
                }
            }
            .table{
                .thead{
                    .tr{
                        .th{
                            font-size: 2rem;
                        }
                    }
                }
                .tbody{
                    .th{
                        font-size: 2rem;
                        .td{
                            font-size: 0.5rem;
                        }
                    }

                }
            }
        }
    }


    .sectionColecciones{
        #tituloColecciones{
            margin-top: 2rem;
            margin-bottom: 2rem;
            font-size: 4.5rem;
        }
        .cardContenedor{
            display: flex;
            justify-items: center;
            justify-content: center;
            margin: auto;
            .card-box{
                .h3{
                    margin-top: 1.5rem;
                    font-size: 2.5rem;
                }
                .card-text{
                    font-size: 1.3rem;
                }
            }
        }
    }

    .sectionRecursos{
        #tituloRecursos{
            margin-top: 2rem;
            margin-bottom: 2rem;
            font-size: 5rem;
        }
    }

    .sectionContacto{
        #tituloContacto{
            margin-top: 2rem;
            margin-bottom: 2rem;
            font-size: 5rem;
        }
    }

    .footer{
        ul{
            li{
                a{
                    font-size: 1.2rem;
                }
            }
        }
        p{
            margin-top: 1rem;
            margin-bottom: 0;
            padding-bottom: 1rem;
            font-size: 1rem;
        }
    }
}