/*----MEDIA QUERY INDEX DISPOSITIVOS PEQUEÑOS----*/
@media only screen and (max-width: 600px) {
    .body{
        .header{
            .navCustom{
                .navbar-nav{
                    .nav-link{
                        font-size: 1rem;
                    }
                }
            }
        }
    }
    .mainIndex{
        .containerIndex{
            margin-top: 0;
            
            .row{
                height: auto;
                #h1{
                    margin-left: 0;
                    font-size: 1.5rem;
                    text-align: left;
                    text-align: center;
                    margin: auto;
                    margin-bottom: 2rem;
                    margin-top: 2rem;
                    
                }
                .h1Custom__text{
                    font-size: 1.2rem;
                }
                #botonCrea{
                    font-size:1rem;
                }
            }
        }
        .colIndexCarousel{
            margin: auto;
            margin-left: 1rem;
        }
        .modalCrea{
            .modal-header{
                background-color: $color-primario;
                color: white;
                .modal-title{
                    font-size: 0.8rem;
                }
                .btn-close{
                    background-color: white;
                }
            }
            .modal-body{
                .formColecciones{
                    .mb-3{
                        .form-label{
                            font-size: 0.9rem;
                        }
                        .form-control{
                            font-size: 0.8rem;
                            
                        }
                    }
                }
            }
            .modal-footer{
                .btn{
                    font-size: 0.7rem;
                }
            }
        }
    }
    .sectionTopColecciones{

        background-image: none;
        .h2Custom{
            font-size: 3rem;
            text-align: center;
            color: $color-primario;
            font-weight: 600;
            margin-bottom: 2rem;
        }
        .tableTopColecciones{
            .thead{
                .tr{
                    .th{
                        font-size: 1.2rem;
                    }
                }
            }
            .tbody{
                .tr{
                    .td{
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
    .sectionColecciones{
        .h2Custom{
            font-size: 3rem;
            text-align: center;
            color: $color-primario;
            font-weight: 600;
            margin-bottom: 2rem;
        }
    }
}

@media only screen and (min-width: 600px){

}