@import "variables";

.body{
    .navCustom{
        border-bottom: 10px;
        box-shadow: 2px 2px 10px #000;
        .navbar-toggler{
            border-color: #66F2CA;
        }
        .navbar-nav{
            .nav-link{
                font-size: 1.3rem;
                color: #66F2CA;
                font-family: $fuente;
                &:hover{
                    font-weight: 600;
                }
                .btn-carrito{
                    background-color: #66F2CA;
                    font-weight: 600;
                    color: #260259;
                }
            }
        }
    }
}