@import "variables";

.body{
    .navCustom{
        border-bottom: 10px;
        box-shadow: 10px 10px 10px #000;
        .navbar-nav{
            .nav-link{
                font-size: 1.3rem;
                color: $color-primario;
                font-family: $fuente;
                &:hover{
                    font-weight: 600;
                }
            }
        }
    }
}