.sectionTopColecciones{
    .contenedorTable{
        padding-bottom: 4rem;
        
        .divOrdenar{
            text-align: center;
            margin: auto;
            padding-bottom: 3rem;
            
        }
        #tablaTopColecciones{
            width: 90%;
            justify-content: center;
            margin: auto;
            thead{
                font-size: 1.5rem;
            }
            .conversionDolar{
                font-weight: 600;
            }
        }
    }
    
}