.sectionTopColecciones{
    .contenedorTable{
        padding-bottom: 4rem;
        
        .divOrdenar{
            text-align: center;
            margin: auto;
            padding-bottom: 3rem;
            
        }
        #tablaTopColecciones{
            width: 95%;
            justify-content: center;
            margin: auto;
            th{
                text-align: center;
                font-size: 1.2rem;
            }
            tr{
                td{
                    font-size: 1rem;
                    text-align: center;
                }
            }
            .conversionDolar{
                font-weight: 600;
            }
        }
    }
    
}